/* Supprime tout débordement visuel derrière le popup */
:host {
  display: block;
  overflow: hidden;
}

/* Mat focus highlight */
.mat-form-field.mat-focused .mat-form-field-outline {
  border-color: #6366f1;
}

/* Animation d’entrée légère */
div[max-w-md] {
  animation: fadeInUp 0.3s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
img[alt="Visa"],
img[alt="Mastercard"] {
  filter: brightness(1.1);
  transition: transform 0.2s ease;
}

img[alt="Visa"]:hover,
img[alt="Mastercard"]:hover {
  transform: scale(1.05);
}
